.one{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}
img{
    height: 50px;
    width: 150px;
}
ul{
    display: flex;
    align-items: center;
    list-style-type: none;

}
ul a { /*padding: 20px; */
    text-decoration: none;
   color: black;

}
li{
    padding: 5px;
}
section{
    display:flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5) url(https://a.travel-assets.com/findyours-php/viewfinder/images/res70/170000/170832-Seattle.jpg?impolicy=fcrop&w=360&h=224&q=mediumLow );
    background-size: cover;
    height: 550px;
    font-family: 'Nunito', Arial, sans-serif;
    background-blend-mode: darken;
    
    
}
.two{
    align-items: center;
    justify-content: center;
    font-family: 'Nunito', Arial, sans-serif;
    color: white;
     /* width: 350px; */
     text-align: center;
     padding: 0px;
    margin: 5px;
}
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;


}
button{ background-color: red;}

button a{ text-decoration: none;
}
h3{ color: white;
    text-decoration: none;
}
.four{
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
@media (min-width: 550px) {
    .four {flex-direction: row;}
}
.six{
    display: flex;
}
.container{
    display: grid;
}
main{
    display: flex;
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}



